[Unit]
Description=T6evdi Service
DefaultDependencies=no


[Service]
Type=simple
PIDFile=/var/run/T6evdi.pid
ExecStart=/usr/sbin/T6evdi
ExecReload=/bin/kill -9 $MAINPID
ExecStop=/bin/kill -9 $MAINPID
RemainAfterExit=yes


[Install]
WantedBy=multi-user.target


